* {
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: white;
  background-color: rgb(24,24,24);
  box-sizing: border-box;
}

.header {
  background-color: rgba(48,48,48,0.75);
  backdrop-filter: blur(5px);
  color: white;
  padding: 15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: left;
  box-shadow: 0 0 10px #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home-btn {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(64,64,64);
  position: fixed;
  right: 60px;
  top: 7.5px;
  text-decoration: none;
  border-radius: 20px;
  transition: 250ms;
}

.home-btn:hover {
  box-shadow: 0 0 10px #000000;
  background-color: rgb(32,32,32);
  color: rgb(192,64,255);
}

.home-btn:active {
  background-color: rgb(64,64,64);
  box-shadow: none;
}

.test-btn {
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  background-color: rgb(64,64,64);
  position: fixed;
  right: 110px;
  top: 7.5px;
  text-decoration: none;
  border-radius: 20px;
  transition: 250ms;
}

.test-btn:hover {
  box-shadow: 0 0 10px #000000;
  background-color: rgb(32,32,32);
  color: rgb(192,64,255);
}

.test-btn:active {
  background-color: rgb(64,64,64);
  box-shadow: none;
}

.about-btn {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(64,64,64);
  position: fixed;
  top: 7.5px;
  right: 10px;
  text-decoration: none;
  border-radius: 20px;
  transition: 250ms;
}

.about-btn:hover {
  box-shadow: 0 0 10px #000000;
  background-color: rgb(32,32,32);
  color: rgb(192,64,255);
}

.about-btn:active {
  background-color: rgb(64,64,64);
  box-shadow: none;
}

.header-text {
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  position: sticky;
}

.index-p1 {
  margin: 5px;
  padding: 5px;
  text-align: justify;
}

.test-p2 {
  margin: 5px;
  padding: 5px;
}

.imgtest {
  border: 3px solid #cc80ff;
  border-radius: 10px;
  margin: 10px;
  max-width: 320px;
  box-shadow: 0 0 5px #cc80ff;
  transition: 500ms;
  float: left;
}

.imgtest:hover {
  box-shadow: 0 0 15px #cc80ff;
}

.hplink-example {
  color: #40deff;
  margin-top: 10px;
  padding-left: 10px;
  display: block;
  transition: 250ms;
  background-color: rgba(0,0,0,0);
  text-decoration: none;
}

.hplink-example:hover {
  letter-spacing: 0.03em;
  text-shadow: 0 0 10px #40deff;
}

.hplink-example:active {
  color: #cc80ff;
}

.hplink-example-clicked {
  color: #0080ff;
  display: block;
  padding-left: 10px;
  background-color: rgba(0,0,0,0);
  transition: 250ms;
  text-decoration: none;
}

.hplink-example-clicked:hover {
  letter-spacing: 0.03em;
  text-shadow: 0 0 10px #cc80ff;
}

.hplink-example-clicked:active {
  color: #cc80ff;
}

.hplink-example-clicked:visited {
  color: #cc80ff;
}

.test-p3 {
  margin: 5px;
  padding: 5px;
}
